* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {}

.header-top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
}

.header-area {
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 100vh;
    margin-bottom: 100px;
}

.logo-text {
    margin-left: 100px;
    font-size: 35px;
    font-weight: bold;
    overflow: hidden;
    border-right: .10em solid #FF8D8D;
    white-space: nowrap;
    text-transform: uppercase;
    margin: 0 auto;
    letter-spacing: .4rem;
    animation: typing_text 3s steps(30, end), cursor-animate 1s step-end infinite;
}

@keyframes typing_text {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes cursor-animate {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: #FF8D8D;
    }
}

.header-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header-nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.header-nav ul {}

.header-nav ul li {
    list-style: none;
    margin: 0 10px;
    padding-left: 10px;
}

.header-nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: 0.8s;
    text-transform: uppercase;
}

.header-nav ul li a:hover {
    color: red;
    cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/sad.png"), auto;
}

.hero-area {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.hero-title {
    margin-left: 50px;
}

.color-text {
    color: red;
    font-size: 30px;
}

.hero-title h1 {
    margin: 20px 0;
    font-size: 80px;
}

.hero-title p {
    font-size: 20px;
}

.hero-bg {}

.hero-bg img {
    width: 100%;
    height: auto;
}

.fitness-btn {
    padding: 20px 40px;
    background-color: red;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;
}

.fitness-btn:hover {
    background-color: blue;
    color: #fff;
}

.hero-para {
    margin-bottom: 50px;
}

.about-area {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 200px;
}

.about-title {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
}

.about-title h2 {
    font-size: 50px;
}

.about-us {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about-single {
    width: 30%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
    box-shadow: 5px 5px 5px #000;
    transition: 0.8s;
}

.about-single:hover {
    border: 1px solid red;
    padding-bottom: 50px;
    margin-top: -50px;
}

.about-single img {
    width: 30%;
    height: auto;
}

.about-single p {
    text-align: left;
}

.feature-area {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 200px;
    background-color: #000;
    color: #fff;
    padding-top: 50px;
}

.feature-title {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.feature-title h3 {
    font-size: 50px;
    font-weight: bold;
}

.features {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.feature-left {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-left: -50px;
    border-top: 1px solid red;
    padding-top: 50px;
}

.feature-right {
    width: 50%;
    padding-left: 50px;
    border-top: 1px solid #ddd;
    padding-top: 50px;
}

.feature-image {
    width: 25%;
    height: auto;
    margin: 0 auto;
}

.feature-image img {
    width: 23vw;
    height: auto;
    transform: skewY(-15deg);
}

.feature-right h4 {
    font-size: 30px;
    font-weight: bold;
}

.feature-right p {
    margin: 20px 0;
    font-size: 18px;
}

.feature-right ol {
    margin-left: 20px;
    margin-bottom: 50px;
}

.feature-right ol li {
    line-height: 35px;
    font-size: 22px;
}

.cta-area {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 200px;
    background: url("../images/shape/Group_33094_1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 60%;
    border-radius: 20px;
}

.cta {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
}

.cta-title {
    width: 60%;
}

.cta-title h5 {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.cta-button {
    width: 40%;
    text-align: right;
}

.cta-button a {}

.services-area {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 200px;
}

.service-title {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.service-title h5 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 100px;
}

.services {
    width: 96%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}

.service-single {
    width: 30%;
    margin: 0 auto;
    box-shadow: 10px 10px 20px #000;
    border-radius: 10px;
}

.card-img {
    width: 100%;
    height: auto;
}

.card-img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.card-title {
    margin-bottom: 10px;
    padding: 20px 20px 0 20px;
}

.card-title h6 {
    margin-bottom: 10px;
    color: red;
    font-size: 20px;
}

.card-title h2 {
    margin-bottom: 5px;
    font-size: 30px;
}

.card-title p {
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: bold;
}

.card-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 10px;
    padding: 0 20px 20px 20px;
}

.card-price h4 {
    font-size: 30px;
    font-weight: bold;
}

.card-price a {
    color: red;
    font-size: 20px;
    text-decoration: none;
    padding-top: 8px;
}

.footer-area {
    width: 90%;
    margin: 0 auto;
    border-top: 1px solid #000;
    padding: 50px 0;
}

.footer-social ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.footer-social ul li {
    list-style: none;
    margin: 0 10px;
}

.footer-social ul li a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    cursor: pointer;
    text-transform: uppercase;
}

.footer-social ul li a:hover {
    color: red;
}

.copyright {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.color-footer {
    color: red;
    font-weight: bold;
}