* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {}

.header-top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
}

.header-area {
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 100vh;
    margin-bottom: 100px;
}

.header-logo {}

.header-logo h1 {
    text-transform: capitalize;
    font-size: 50px;
}

.header-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-right: 80px;
}

.header-nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header-nav ul li {
    list-style: none;
    margin: 0 10px;
}

.header-nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: 0.8s;
}

.header-nav ul li a:hover {
    color: red;
    cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/sad.png"), auto;
}

.hero-area {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.hero-title {
    margin-left: 50px;
}

.color-text {
    color: red;
    font-size: 30px;
}

.hero-title h1 {
    margin: 20px 0;
    font-size: 80px;
}

.hero-title p {
    font-size: 20px;
}

.hero-bg {}

.hero-bg img {
    width: 100%;
    height: auto;
}

.fitness-btn {
    padding: 20px 40px;
    background-color: red;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;
}

.fitness-btn:hover {
    background-color: blue;
    color: #fff;
}

.hero-para {
    margin-bottom: 50px;
}

.about-area {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 200px;
}

.about-title {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
}

.about-title h2 {
    font-size: 50px;
}

.about-us {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about-single {
    width: 30%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
    box-shadow: 5px 5px 5px #000;
    transition: 0.8s;
}

.about-single:hover {
    border: 1px solid red;
    padding-bottom: 50px;
    margin-top: -50px;
}

.about-single img {
    width: 30%;
    height: auto;
}

.about-single p {
    text-align: left;
}

.feature-area {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 200px;
    background-color: #000;
    color: #fff;
    padding-top: 50px;
}

.feature-title {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.feature-title h3 {
    font-size: 50px;
    font-weight: bold;
}

.features {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.feature-left {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-left: -50px;
    border-top: 1px solid red;
    padding-top: 50px;
}

.feature-right {
    width: 50%;
    padding-left: 50px;
    border-top: 1px solid #ddd;
    padding-top: 50px;
}

.feature-image {
    width: 25%;
    height: auto;
    margin: 0 auto;
}

.feature-image img {
    width: 23vw;
    height: auto;
    transform: skewY(-15deg);
}

.feature-right h4 {
    font-size: 30px;
    font-weight: bold;
}

.feature-right p {
    margin: 20px 0;
    font-size: 18px;
}

.feature-right ul {
    margin-left: 20px;
    margin-bottom: 50px;
}

.feature-right ul li {
    line-height: 35px;
    font-size: 22px;
}